
.agreg-prod{
    margin-top: 200px;
    display: flex;
    float: right;
}

.btm-menos{
    background-color: cadetblue;
}


.btm-mas{
    background-color: cadetblue;
}

.numero{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}


.carga{
    display: flex;
    display: inline-block;
    align-items: center;
    margin-top: 200px;
    margin-left: 100px;
    padding-left: 50px;
}


.contenedor{
    display: flex;
    display: inline-block;
    text-align: center;
    margin-top: 500px;
    margin-left: 100px;
    padding-left: 50px;
}


.nombre{
    font-size: 20px;
    font-style: oblique;
}

.price{
    
}

.btn-detalles{
    background-color:brown;
    border-color: blue;
    margin-top: 10px;
}